
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*develop-eggs/
*dist/
*downloads/
*eggs/
*.egg-info/
*lib/
*lib64/
*parts/
*sdist/
*var/
*wheels/
*.egg
instance/
*.env
.venv/
env/
venv/
ENV/

# Fichiers d'archive NSM
*.nsm
